extends layout

block content
  h2.muted Compress your CSS
  p This is just an info page to say to use the minifier on the homepage, but I just wanted to catch all you people who search for compress/compressor, rather than minify/minifier.

  p I wrote a blog post on the different terms people use. You can read it at 
    a(href="/blog/minify-compress-or-minimize-css") Minify, Compress or Minimize CSS?

  p (Ends)
