extends layout

block content
  h3 Curl
  pre.
    # minifying some CSS
    curl -X POST -s --data-urlencode 'input=p { color : red; }' #{env.baseUrl}/raw

    # minifying a CSS file (e.g. style.css -> style.min.css)
    curl -X POST -s --data-urlencode 'input@style.css' #{env.baseUrl}/raw > style.min.css

  include ./include/languages.pug
