!!!
html
  head
    title= title
    script(type="text/javascript",src="/s/js/jquery-1.7.1.min.js")
    script(type="text/javascript",src="/s/js/ready.js")
    link(rel="stylesheet",href="/s/css/bootstrap-1.4.0.min.css")
    link(rel="stylesheet",href="/s/css/style.css")
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17218498-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    div.topbar
      div.topbar-inner
        div.container
          h2
            a.brand(href="/") cssminifier.com
          p Minify your CSS - Simple, Quick and Fast!

    div#main
      div.container
        !{body}

    div#footer
      div.container
        a(href="/") CSS Minifier
        |  - A product of 
        a(href="http://appsattic.com/") AppsAttic
        |  Ltd.
