!!!
html
  head
    title= title
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
    link(rel="stylesheet",href="/s/css/style#{min}.css")
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17218498-3'], ['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body

    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="/") cssminifier.com
          p Minify your CSS - Simple, Quick and Fast!

    div#main.container
      div#ads.row
        div.span4
          h3.muted Our other services:
          a.btn.btn-primary(href="/") CSS Minifier
        div.span8.c
          script
            amazon_ad_tag = "csmi02-20";
            amazon_ad_width = "728";
            amazon_ad_height = "90";
            amazon_ad_logo = "hide";
            amazon_ad_border = "hide";
            amazon_color_border = "FFFFFF";
          script(src="http://www.assoc-amazon.com/s/ads.js")

      block content

    div#footer
      div.container
        a(href="/") CSS Minifier
        |  - A product of 
        a(href="http://appsattic.com/") AppsAttic
        |  Ltd.

    script(type="text/javascript",src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type="text/javascript",src="/s/js/ready#{min}.js")
