// general
pre
    overflow: auto

// main - needs a padding at the bottom to not appear over the footer
#main
    margin-bottom: 30px

// footer
#footer
    background-color: white
    position: fixed
    bottom: 0
    left: 0
    right: 0
    height: 30px
    text-align: center
    line-height: 30px
    z-index: 10000


